<h1>New Rescue Crew</h1>
<p>Use this form to add a new rescue crew to the database. They will start out marked as inactive; you must mark them available before they
  are eligible to be assigned to cases.</p>

<%= render 'form', url: cad_create_crew_path %>