// Place all the styles related to the broadcast/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents ul {
  list-style-type: none;
  padding-left: 1rem;
}

.section-edit-link {
  margin-left: 2rem;
}

tr *:nth-child(5) {
    max-width: 10em;
    overflow:hidden;
}
