// Place all the styles related to the broadcast/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents ul {
  list-style-type: none;
  padding-left: 1rem;
}

tr *:nth-child(5) {
    max-width: 10em;
    overflow:hidden;
}

.field-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

@media print {
  .municipality h4 {
    page-break-after: avoid;
  }
}
