<h1>Review Broadcast Items</h1>
<p>This page shows broadcast items that are waiting for a copy review. To get started, pick an item and click the pencil in its row.</p>

<%= render 'broadcast/items/table', review: true %>