<table class="table">
  <thead>
    <th>Name</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% @medical_statuses.each do |status| %>
    <tr>
      <td><%= link_to status.name.to_s, medical_status_edit_path(num: status.id) %></td>
      <td><%= status.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>
