/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub shims/maps_font
 */

body {
    font-size: 0.95rem;
}

h1 {
    font-size: 2.2rem;
}

label {
    font-weight: bold;
}

.text-small {
    font-size: 14px;
}

.slide-header {
    padding: 5px 10px;
    cursor: pointer;
}

.slide-body {
    padding: 5px 10px;
}

.clipboard {
    display: none;
}

.s2-input-group button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.s2-with-ig + .select2 .select2-selection {
    border-bottom-left-radius: 0;
}

.text-warning {
    color: #f9bb00 !important;
}

.number-sm {
    max-width: 5rem;
}
