<div class="col-md-4 mx-auto">
  <div class="card border-danger">
    <div class="card-body text-danger">
      <h3 class="card-title">Hold up!</h3>
      <p>You're missing the required privilege to access this page - you need the <%= @role_name.to_s.humanize.titleize %> privilege.</p>
    </div>
  </div>
</div>